# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Allow main.js for BRAT plugin compatibility
# main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
